<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.yorku.apptest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:requestLegacyExternalStorage="true"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppTest">
        <activity
            android:name=".vault_screen"
            android:exported="false" />
        <activity
            android:name=".settings_screen"
            android:exported="false" />
        <activity
            android:name=".notes_screen"
            android:exported="false" />
        <activity
            android:name=".images_screen"
            android:exported="false" />
        <activity
            android:name=".home_screen"
            android:exported="false" />
        <activity
            android:name=".Login_screen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>